/* 
    Document   : basic
    Created on : Oct 20, 2016, 7:55:18 PM
    Author     : Rajesh
    Description:
        Purpose of the stylesheet follows.
*/


    #header
{
 position:fixed;
 top:0px;
 left:0px;
 right:0px;
 height:20%;
 overflow:hidden;
}






#leftSide
{
 position:fixed;
 top:21%;
 left:0px;
 width:20%;
 /*height:100%;*/
 overflow-y:auto;
 float: left;
}

#footer
{
 width: 100%;
 height:10%;
/*margin: -52px 0 0;*/
 left:0px;
 right:0px;
 bottom:0px;
position: fixed;
}
 
#content
{
 
 top:21%;
 /*height: 100%;*/
 left:21%;
 overflow-y: auto;
 float: right;
 /*padding-bottom: 60px;*/
}

#wrap {
    min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  position: relative;
}

div {display:block; border:0px solid black;}

#wrapper { width: 100%; padding: 0px; margin: 0px auto 00px auto; background-color: #FFFFFF; }
#masthead { background-color: #54B431;  background-position: right center; height: 170px; }
#left-nav { margin: 20px 0px 10px 0px; width: 200px; float: left; border: thin dashed #006600; height: 100%; background-color: #CCFFCC; }
#main-content { margin: 20px 10px 10px 200px; background-color: #CCFFCC; overflow-x: hidden; overflow-y: auto}
#mastfooter { border-top: 2px solid #006600; clear: both; padding: 10px 0px; text-align: center; } 
